body{
    font-family: var(--ff-primary);
    font-size : var(--fs-400);
    display : flex;
    justify-content: center;
    padding: 5em 0;
    background-color: var(--clr-neutral-100 );
    min-height: 100vh;
    background: url(../../../images/bg-pattern-top-desktop.svg),
    url(../../../images/bg-pattern-bottom-desktop.svg);
    background-size: max(38%,400px),73%;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
 }

