@use '../abstracts/' as *;
@include asLongMoreThanOrEqual('medium'){
    
    .wrapper{
        width: 82vw;
    }
    .main{
       
        height : 100%;
        &__container{
            flex-direction: row;
            &--1{
                flex: 0 0 53%;
                text-align : unset;
                margin-bottom : 2em;
            }
            &--2{
                flex: 0 0 47%;
                justify-content: space-between;
                gap : 10px;
                
                
            }
        }
        &__heading{
            flex : 1;
            display: flex;
            flex-direction: column;
            justify-content : center;
            &__header{
                
                max-width: 13ch;
            }
            &__intro{
                max-width: 38ch;
            }
        }
     
        &__ratings{
            flex : 1;
            justify-content : center;
        }
    }
    .ratings{
        &__item{

            flex-direction: row;
            width : 85%;
            padding: 1.5em;
            
            &:nth-of-type(1){
                align-self: flex-start;
            }
            &:nth-of-type(2){
                align-self: center;
            }
            &:nth-of-type(3){
                align-self: flex-end;
            }

            &__stars{
                margin : 0 1.5em;

            }
            &__info{
                margin-top: .4em;

            }
        }
    }
    .testomnial{
        padding: 3.5em 2em;
        flex : 0 0 32%;
        margin-bottom: 0;
        &:first-of-type{
            align-self: flex-start;
        }
        &:nth-of-type(2){
            align-self: center;
            
        }
        &:nth-of-type(3){
            align-self: flex-end;
          
        }
        &__profile{
            margin-bottom: 1.5em;
        }
        &__customer-quote{
            font-size : var(--fs-400); 
            line-height: 1.5;
            max-width: 27ch;
            
           
           
        }
    }

}